<div class="container-fluid text-center container-custom">
  <div class="row d-flex flex-column flex-lg-row min-vh-100 justify-content-center">

    <div class="col-12 col-lg-6 d-none d-lg-flex align-items-center justify-content-center">
      <div id="carouselExample" class="slide w-100 px-3">
        <div class="rounded-3">
          <div>
            <img src="../../../../assets/mustang_2.jpg " class="d-block w-100" alt="Mustang"/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 d-flex flex-column login-custom">
      <div class="form-wrapper d-flex flex-grow-1 align-items-center justify-content-center pb-5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-custom">
          <h1 class="h1 mt-5 mb-5">Agende seu test-drive</h1>

          <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100 rounded-form-field">
              <mat-icon matPrefix>person</mat-icon>
              <mat-label>Nome completo</mat-label>
              <input matInput placeholder="Digite seu nome completo" formControlName="nome" />
              <mat-error *ngIf="form.get('nome')?.hasError('required')">Nome é obrigatório.</mat-error>
              <mat-error *ngIf="form.get('nome')?.hasError('minlength')">Mínimo 3 caracteres.</mat-error>
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100 rounded-form-field">
              <mat-icon matPrefix>call</mat-icon>
              <mat-label>Telefone</mat-label>
              <input matInput placeholder="(00) 00000-0000" formControlName="telefone" mask="(00) 00000-0000" />
              <mat-error *ngIf="form.get('telefone')?.hasError('required')">Telefone é obrigatório.</mat-error>
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100 rounded-form-field">
              <mat-icon matPrefix>badge</mat-icon>
              <mat-label>CPF</mat-label>
              <input matInput placeholder="000.000.000-00" formControlName="cpf" mask="000.000.000-00" />
              <mat-error *ngIf="form.get('cpf')?.hasError('required')">CPF é obrigatório.</mat-error>
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100 rounded-form-field">
              <mat-icon matPrefix>location_city</mat-icon>
              <mat-label>Cidade</mat-label>
              <input matInput placeholder="Digite sua cidade" formControlName="cidade" />
              <mat-error *ngIf="form.get('cidade')?.hasError('required')">Cidade é obrigatória.</mat-error>
              <mat-error *ngIf="form.get('cidade')?.hasError('minlength')">Mínimo 3 caracteres.</mat-error>
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100 rounded-form-field">
              <mat-icon matPrefix>event</mat-icon>
              <mat-label>Data do Test Drive</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="data"
                placeholder="dd/mm/aaaa"
              />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <mat-error *ngIf="form.get('data')?.hasError('required')">
                Data é obrigatória.
              </mat-error>
              <mat-error *ngIf="form.get('data')?.hasError('dataPassada')">
                Data inválida. Não é possível agendar para dias anteriores.
              </mat-error>
              <mat-error *ngIf="form.get('data')?.hasError('diaInvalido')">
                Apenas dias úteis são permitidos (segunda a sexta).
              </mat-error>
              <mat-error *ngIf="form.get('data')?.hasError('hojeInvalido')">
                Hoje só é possível agendar até as 16h.
              </mat-error>

            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="w-100 rounded-form-field">
              <mat-icon matPrefix>schedule</mat-icon>
              <mat-label>Horário</mat-label>
              <input
                matInput
                type="time"
                formControlName="hora"
                [min]="'10:00'"
                [max]="'16:00'"
              />
              <mat-error *ngIf="form.get('hora')?.hasError('required')">Horário é obrigatório.</mat-error>
              <mat-error *ngIf="form.get('hora')?.hasError('horaInvalida')">Horário inválido. Use entre 10:00 e 16:00.</mat-error>
            </mat-form-field>
          </div>

          <mat-checkbox formControlName="aceite" class="mb-3">
            Li e aceito a <a href="https://www.ford.com.br/politica-de-privacidade/" target="_blank" rel="noopener noreferrer">Política de Privacidade</a> e os <a href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm" target="_blank" rel="noopener noreferrer">Termos e Condições</a>
          </mat-checkbox>

          <button mat-raised-button color="primary" class="col-12 p-4" type="submit" [disabled]="form.invalid">
            Confirmar agendamento
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
