.navbar-brand img {
  max-height: 50px;
}

.navbar-nav .nav-link {
  font-weight: 500;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #f0f0f0;
  color: #035aa5;
}
.btn-secondary:hover {
  background-color: #f0f0f0;
  color: #414141;
}

/* Hover suave para links no menu mobile */
.hover-link {
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.hover-link:hover {
  background-color: #f0f0f0;
}

/* Remove sublinhado */
.nav-link {
  text-decoration: none;
}

/* Centraliza itens no mobile */
@media (max-width: 991.98px) {
  .navbar-nav {
    align-items: center;
  }

  .nav-item {
    width: 100%;
  }
}
