:root {
  --cor-fonte-sec-dashboard: #777777;
  --cor-azul-dashboard: #3780eefb;
  --cor-azul-botoes: #007bff;
}

* {
  font-family: 'Poppins', sans-serif;
}
html, body {
  height: 100%;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
